:root {
--white: 255, 255, 255;
--black: 0, 0, 0;

--icon-hover: 255, 0, 0;

--login-primary-bg: 33, 98, 188;
--login-secondary-bg: 70, 18, 128;
--login-border: 58, 85, 172;
--login-border-focus: 92, 107, 192;


--register-layout-primary: 33, 98, 188;
--register-layout-secondary: 70, 18, 128;
--register-border: 58, 85, 172;
--register-border-focus: 92, 107, 192;
--register-bg-focus: 92, 107, 192;
--register-input: 255, 255, 255;

--favorites-border: 58, 85, 172;
--favorites-input-bg-primary: 92, 107, 192;
--favorites-input-bg-secondary: 255, 255, 255;
--favorites-btn--bg-active: 255, 0, 0;
--favorites-btn--bg-cancel: 60, 65, 161;

--overwiview-btn-active: 0, 128, 0;
--overwiview-like-btn:  76, 214, 181;
--overwiview-dislike-btn:  255, 0, 0;
--overwiview-swipe-like: 76, 214, 181;
--overwiview-swipe-dislike: 255, 0, 0;


--loading-border: 255, 255, 255;

--profile-bg: 76, 214, 181;

--modal-bt-bg: 255, 255, 255;
--modal-bt-hover: 255, 0, 0;
--modal-overlay-bg: 0, 0, 0;
}
